/*
* jQuery Mobile Framework Git Build: SHA1: c2d61e2e592c67519d9a9ed0ba796fa44787e136 <> Date: Tue Sep 25 10:38:12 2012 -0700
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/



/* Background Gradient */
.ui-mobile .ui-page .ui-content {
    background : none;
}
.ui-mobile .ui-page {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 25%, rgba(224,224,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(255,255,255,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(224,224,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 25%,rgba(224,224,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

}



/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #2A2A2A /*{a-bar-border}*/;
	background: #222222 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 0 /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #333333 /*{a-bar-background-start}*/), to( #222222 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #333333 /*{a-bar-background-start}*/, #222222 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #333333 /*{a-bar-background-start}*/, #222222 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #333333 /*{a-bar-background-start}*/, #222222 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #333333 /*{a-bar-background-start}*/, #222222 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #333333 /*{a-bar-background-start}*/, #222222 /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
	color: #2489CE /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #2a2a2a /*{a-body-border}*/;
	color: #fff /*{a-body-color}*/;
    text-shadow: 0 1px 0 #000;
    font-weight: normal;
    background: #ffffff /*{a-body-background-color}*/;
	background-image: -webkit-linear-gradient(#666,#222);
	background-image: -webkit-linear-gradient(#666,#222);
	background-image:    -moz-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #333333 /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #2489CE /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color: #2489CE /*{a-body-link-active}*/;
}

.ui-btn-up-a {
	border: 1px solid #808080 /*{a-bup-border}*/;
	background: #808080 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bup-color}*/;
	text-shadow: undefined /*{a-bup-shadow-x}*/ undefined /*{a-bup-shadow-y}*/ undefined /*{a-bup-shadow-radius}*/ #444444 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #8c8c8c /*{a-bup-background-start}*/), to( #737373 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #8c8c8c /*{a-bup-background-start}*/, #737373 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #8c8c8c /*{a-bup-background-start}*/, #737373 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #8c8c8c /*{a-bup-background-start}*/, #737373 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #8c8c8c /*{a-bup-background-start}*/, #737373 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #8c8c8c /*{a-bup-background-start}*/, #737373 /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #ffffff /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #939393 /*{a-bhover-border}*/;
	background: #939393 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bhover-color}*/;
	text-shadow: undefined /*{a-bhover-shadow-x}*/ undefined /*{a-bhover-shadow-y}*/ undefined /*{a-bhover-shadow-radius}*/ #444444 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #a1a1a1 /*{a-bhover-background-start}*/), to( #848484 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #a1a1a1 /*{a-bhover-background-start}*/, #848484 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #a1a1a1 /*{a-bhover-background-start}*/, #848484 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #a1a1a1 /*{a-bhover-background-start}*/, #848484 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #a1a1a1 /*{a-bhover-background-start}*/, #848484 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #a1a1a1 /*{a-bhover-background-start}*/, #848484 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #ffffff /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #939393 /*{a-bdown-border}*/;
	background: #939393 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bdown-color}*/;
	text-shadow: undefined /*{a-bdown-shadow-x}*/ undefined /*{a-bdown-shadow-y}*/ undefined /*{a-bdown-shadow-radius}*/ #444444 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #848484 /*{a-bdown-background-start}*/), to( #a1a1a1 /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #848484 /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #848484 /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #848484 /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #848484 /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #848484 /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #ffffff /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid #0071bc /*{b-bar-border}*/;
	background: #0071bc /*{b-bar-background-color}*/;
	color: #ffffff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: undefined /*{b-bar-shadow-x}*/ undefined /*{b-bar-shadow-y}*/ undefined /*{b-bar-shadow-radius}*/ #444444 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #007cce /*{b-bar-background-start}*/), to( #0065a9 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #007cce /*{b-bar-background-start}*/, #0065a9 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #007cce /*{b-bar-background-start}*/, #0065a9 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #007cce /*{b-bar-background-start}*/, #0065a9 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #007cce /*{b-bar-background-start}*/, #0065a9 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #007cce /*{b-bar-background-start}*/, #0065a9 /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
	color: #ffffff /*{b-bar-color}*/;
}

.ui-bar-b a.ui-link {
	color: #7cc4e7 /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b a.ui-link:visited {
    color: #2489CE /*{b-bar-link-visited}*/;
}

.ui-bar-b a.ui-link:hover {
	color: #2489CE /*{b-bar-link-hover}*/;
}

.ui-bar-b a.ui-link:active {
	color: #2489CE /*{b-bar-link-active}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
	border: 1px solid #cccccc /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 0 /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #000000 /*{b-body-shadow-color}*/;
	background: #ffffff /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{b-body-background-start}*/), to( #FFFFFF /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #FFFFFF /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #FFFFFF /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #FFFFFF /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{b-body-background-start}*/, #FFFFFF /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{b-body-background-start}*/, #FFFFFF /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: #333333 /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}

.ui-body-b .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}

.ui-btn-up-b {
	border: 1px solid #0071bc /*{b-bup-border}*/;
	background: #0071bc /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 0 /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #444444 /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #007cce /*{b-bup-background-start}*/), to( #0065a9 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #007cce /*{b-bup-background-start}*/, #0065a9 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #007cce /*{b-bup-background-start}*/, #0065a9 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #007cce /*{b-bup-background-start}*/, #0065a9 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #007cce /*{b-bup-background-start}*/, #0065a9 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #007cce /*{b-bup-background-start}*/, #0065a9 /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
	color: #ffffff /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid #4581d8 /*{b-bhover-border}*/;
	background: #4581d8 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{b-bhover-color}*/;
	text-shadow: undefined /*{b-bhover-shadow-x}*/ undefined /*{b-bhover-shadow-y}*/ undefined /*{b-bhover-shadow-radius}*/ #444444 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4b8ded /*{b-bhover-background-start}*/), to( #3e74c2 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #4b8ded /*{b-bhover-background-start}*/, #3e74c2 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #4b8ded /*{b-bhover-background-start}*/, #3e74c2 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #4b8ded /*{b-bhover-background-start}*/, #3e74c2 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #4b8ded /*{b-bhover-background-start}*/, #3e74c2 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #4b8ded /*{b-bhover-background-start}*/, #3e74c2 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
	color: #ffffff /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #4581d8 /*{b-bdown-border}*/;
	background: #4581d8 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{b-bdown-color}*/;
	text-shadow: undefined /*{b-bdown-shadow-x}*/ undefined /*{b-bdown-shadow-y}*/ undefined /*{b-bdown-shadow-radius}*/ #444444 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3e74c2 /*{b-bdown-background-start}*/), to( #4b8ded /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3e74c2 /*{b-bdown-background-start}*/, #4b8ded /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3e74c2 /*{b-bdown-background-start}*/, #4b8ded /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3e74c2 /*{b-bdown-background-start}*/, #4b8ded /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3e74c2 /*{b-bdown-background-start}*/, #4b8ded /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3e74c2 /*{b-bdown-background-start}*/, #4b8ded /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
	color: #ffffff /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
	border: 1px solid #2A2A2A /*{c-bar-border}*/;
	background: #BD362F /*{c-bar-background-color}*/;
	color: #ffffff /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 0 /*{c-bar-shadow-y}*/ 0 /*{c-bar-shadow-radius}*/ #000000 /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #EE5F5B /*{c-bar-background-start}*/), to( #BD362F /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #EE5F5B /*{c-bar-background-start}*/, #BD362F /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #EE5F5B /*{c-bar-background-start}*/, #BD362F /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #EE5F5B /*{c-bar-background-start}*/, #BD362F /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #EE5F5B /*{c-bar-background-start}*/, #BD362F /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #EE5F5B /*{c-bar-background-start}*/, #BD362F /*{c-bar-background-end}*/);
}
.ui-bar-c .ui-link-inherit {
	color: #ffffff /*{c-bar-color}*/;
}

.ui-bar-c a.ui-link {
	color: #7cc4e7 /*{c-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-c a.ui-link:visited {
    color: #2489CE /*{c-bar-link-visited}*/;
}

.ui-bar-c a.ui-link:hover {
	color: #2489CE /*{c-bar-link-hover}*/;
}

.ui-bar-c a.ui-link:active {
	color: #2489CE /*{c-bar-link-active}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #cccccc /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 0 /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #000000 /*{c-body-shadow-color}*/;
	background: #ffffff /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{c-body-background-start}*/), to( #FFFFFF /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #FFFFFF /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #FFFFFF /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #FFFFFF /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{c-body-background-start}*/, #FFFFFF /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{c-body-background-start}*/, #FFFFFF /*{c-body-background-end}*/);
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-c .ui-link-inherit {
	color: #333333 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
	color: #2489CE /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-c .ui-link:visited {
    color: #2489CE /*{c-body-link-visited}*/;
}

.ui-body-c .ui-link:hover {
	color: #2489CE /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
	color: #2489CE /*{c-body-link-active}*/;
}

.ui-btn-up-c {
	border: 1px solid #d82c35 /*{c-bup-border}*/;
	background: #BD362F /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{c-bup-color}*/;
	text-shadow: undefined /*{c-bup-shadow-x}*/ undefined /*{c-bup-shadow-y}*/ undefined /*{c-bup-shadow-radius}*/ undefined /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #EE5F5B /*{c-bup-background-start}*/), to( #BD362F /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #EE5F5B /*{c-bup-background-start}*/, #BD362F /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #EE5F5B /*{c-bup-background-start}*/, #BD362F /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #EE5F5B /*{c-bup-background-start}*/, #BD362F /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #EE5F5B /*{c-bup-background-start}*/, #BD362F /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #EE5F5B /*{c-bup-background-start}*/, #BD362F /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
	color: #ffffff /*{c-bup-color}*/;
}
.ui-btn-hover-c {
	border: 1px solid #d82c35 /*{c-bhover-border}*/;
	background: #DA4F49 /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{c-bhover-color}*/;
	text-shadow: undefined /*{c-bhover-shadow-x}*/ undefined /*{c-bhover-shadow-y}*/ undefined /*{c-bhover-shadow-radius}*/ undefined /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #DA4F49 /*{c-bhover-background-start}*/), to( #DA4F49 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #DA4F49 /*{c-bhover-background-start}*/, #DA4F49 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #DA4F49 /*{c-bhover-background-start}*/, #DA4F49 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #DA4F49 /*{c-bhover-background-start}*/, #DA4F49 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #DA4F49 /*{c-bhover-background-start}*/, #DA4F49 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #DA4F49 /*{c-bhover-background-start}*/, #DA4F49 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: #ffffff /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid #d82c35 /*{c-bdown-border}*/;
	background: #d2332d /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{c-bdown-color}*/;
	text-shadow: undefined /*{c-bdown-shadow-x}*/ undefined /*{c-bdown-shadow-y}*/ undefined /*{c-bdown-shadow-radius}*/ undefined /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D2332D /*{c-bdown-background-start}*/), to( #D2332D /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #D2332D /*{c-bdown-background-start}*/, #D2332D /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #D2332D /*{c-bdown-background-start}*/, #D2332D /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #D2332D /*{c-bdown-background-start}*/, #D2332D /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #D2332D /*{c-bdown-background-start}*/, #D2332D /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #D2332D /*{c-bdown-background-start}*/, #D2332D /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
	color: #ffffff /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* D
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-d {
	border: 1px solid #2A2A2A /*{d-bar-border}*/;
	background: #51A351 /*{d-bar-background-color}*/;
	color: #ffffff /*{d-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 0 /*{d-bar-shadow-y}*/ 0 /*{d-bar-shadow-radius}*/ #000000 /*{d-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #62C462 /*{d-bar-background-start}*/), to( #51A351 /*{d-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #62C462 /*{d-bar-background-start}*/, #51A351 /*{d-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #62C462 /*{d-bar-background-start}*/, #51A351 /*{d-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #62C462 /*{d-bar-background-start}*/, #51A351 /*{d-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #62C462 /*{d-bar-background-start}*/, #51A351 /*{d-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #62C462 /*{d-bar-background-start}*/, #51A351 /*{d-bar-background-end}*/);
}
.ui-bar-d .ui-link-inherit {
	color: #ffffff /*{d-bar-color}*/;
}

.ui-bar-d a.ui-link {
	color: #7cc4e7 /*{d-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-d a.ui-link:visited {
    color: #2489CE /*{d-bar-link-visited}*/;
}

.ui-bar-d a.ui-link:hover {
	color: #2489CE /*{d-bar-link-hover}*/;
}

.ui-bar-d a.ui-link:active {
	color: #2489CE /*{d-bar-link-active}*/;
}

.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-d,
.ui-overlay-d {
	border: 1px solid #cccccc /*{d-body-border}*/;
	color: #333333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 0 /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #000000 /*{d-body-shadow-color}*/;
	background: #FFFFFF /*{d-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{d-body-background-start}*/), to( #FFFFFF /*{d-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{d-body-background-start}*/, #FFFFFF /*{d-body-background-end}*/);
}
.ui-overlay-d {
	background-image: none;
	border-width: 0;
}
.ui-body-d,
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-d .ui-link-inherit {
	color: #333333 /*{d-body-color}*/;
}

.ui-body-d .ui-link {
	color: #2489CE /*{d-body-link-color}*/;
	font-weight: bold;
}

.ui-body-d .ui-link:visited {
    color: #2489CE /*{d-body-link-visited}*/;
}

.ui-body-d .ui-link:hover {
	color: #2489CE /*{d-body-link-hover}*/;
}

.ui-body-d .ui-link:active {
	color: #2489CE /*{d-body-link-active}*/;
}

.ui-btn-up-d {
	border: 1px solid #00a84c /*{d-bup-border}*/;
	background: #51A351 /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{d-bup-color}*/;
	text-shadow: undefined /*{d-bup-shadow-x}*/ undefined /*{d-bup-shadow-y}*/ undefined /*{d-bup-shadow-radius}*/ undefined /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #62C462 /*{d-bup-background-start}*/), to( #51A351 /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #62C462 /*{d-bup-background-start}*/, #51A351 /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #62C462 /*{d-bup-background-start}*/, #51A351 /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #62C462 /*{d-bup-background-start}*/, #51A351 /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #62C462 /*{d-bup-background-start}*/, #51A351 /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #62C462 /*{d-bup-background-start}*/, #51A351 /*{d-bup-background-end}*/);
}
.ui-btn-up-d:visited,
.ui-btn-up-d a.ui-link-inherit {
	color: #ffffff /*{d-bup-color}*/;
}
.ui-btn-hover-d {
	border: 1px solid #00a84c /*{d-bhover-border}*/;
	background: #5BB75B /*{d-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{d-bhover-color}*/;
	text-shadow: undefined /*{d-bhover-shadow-x}*/ undefined /*{d-bhover-shadow-y}*/ undefined /*{d-bhover-shadow-radius}*/ undefined /*{d-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5BB75B /*{d-bhover-background-start}*/), to( #5BB75B /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5BB75B /*{d-bhover-background-start}*/, #5BB75B /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5BB75B /*{d-bhover-background-start}*/, #5BB75B /*{d-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5BB75B /*{d-bhover-background-start}*/, #5BB75B /*{d-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5BB75B /*{d-bhover-background-start}*/, #5BB75B /*{d-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5BB75B /*{d-bhover-background-start}*/, #5BB75B /*{d-bhover-background-end}*/);
}
.ui-btn-hover-d:visited,
.ui-btn-hover-d:hover,
.ui-btn-hover-d a.ui-link-inherit {
	color: #ffffff /*{d-bhover-color}*/;
}
.ui-btn-down-d {
	border: 1px solid #00a84c /*{d-bdown-border}*/;
	background: #51a451 /*{d-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{d-bdown-color}*/;
	text-shadow: undefined /*{d-bdown-shadow-x}*/ undefined /*{d-bdown-shadow-y}*/ undefined /*{d-bdown-shadow-radius}*/ undefined /*{d-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #51A451 /*{d-bdown-background-start}*/), to( #51A451 /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #51A451 /*{d-bdown-background-start}*/, #51A451 /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #51A451 /*{d-bdown-background-start}*/, #51A451 /*{d-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #51A451 /*{d-bdown-background-start}*/, #51A451 /*{d-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #51A451 /*{d-bdown-background-start}*/, #51A451 /*{d-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #51A451 /*{d-bdown-background-start}*/, #51A451 /*{d-bdown-background-end}*/);
}
.ui-btn-down-d:visited,
.ui-btn-down-d:hover,
.ui-btn-down-d a.ui-link-inherit {
	color: #ffffff /*{d-bdown-color}*/;
}
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* E
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-e {
	border: 1px solid #2A2A2A /*{e-bar-border}*/;
	background: #2F96B4 /*{e-bar-background-color}*/;
	color: #ffffff /*{e-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{e-bar-shadow-x}*/ 0 /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ #000000 /*{e-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5BC0DE /*{e-bar-background-start}*/), to( #2F96B4 /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5BC0DE /*{e-bar-background-start}*/, #2F96B4 /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5BC0DE /*{e-bar-background-start}*/, #2F96B4 /*{e-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5BC0DE /*{e-bar-background-start}*/, #2F96B4 /*{e-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5BC0DE /*{e-bar-background-start}*/, #2F96B4 /*{e-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5BC0DE /*{e-bar-background-start}*/, #2F96B4 /*{e-bar-background-end}*/);
}
.ui-bar-e .ui-link-inherit {
	color: #ffffff /*{e-bar-color}*/;
}

.ui-bar-e a.ui-link {
	color: #7cc4e7 /*{e-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-e a.ui-link:visited {
    color: #2489CE /*{e-bar-link-visited}*/;
}

.ui-bar-e a.ui-link:hover {
	color: #2489CE /*{e-bar-link-hover}*/;
}

.ui-bar-e a.ui-link:active {
	color: #2489CE /*{e-bar-link-active}*/;
}

.ui-bar-e,
.ui-bar-e input,
.ui-bar-e select,
.ui-bar-e textarea,
.ui-bar-e button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-e,
.ui-overlay-e {
	border: 1px solid #cccccc /*{e-body-border}*/;
	color: #333333 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 0 /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ #000000 /*{e-body-shadow-color}*/;
	background: #ffffff /*{e-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{e-body-background-start}*/), to( #FFFFFF /*{e-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{e-body-background-start}*/, #FFFFFF /*{e-body-background-end}*/);
}
.ui-overlay-e {
	background-image: none;
	border-width: 0;
}
.ui-body-e,
.ui-body-e input,
.ui-body-e select,
.ui-body-e textarea,
.ui-body-e button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-e .ui-link-inherit {
	color: #333333 /*{e-body-color}*/;
}

.ui-body-e .ui-link {
	color: #2489CE /*{e-body-link-color}*/;
	font-weight: bold;
}

.ui-body-e .ui-link:visited {
    color: #2489CE /*{e-body-link-visited}*/;
}

.ui-body-e .ui-link:hover {
	color: #2489CE /*{e-body-link-hover}*/;
}

.ui-body-e .ui-link:active {
	color: #2489CE /*{e-body-link-active}*/;
}

.ui-btn-up-e {
	border: 1px solid #cccccc /*{e-bup-border}*/;
	background: #2F96B4 /*{e-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{e-bup-color}*/;
	text-shadow: 0 /*{e-bup-shadow-x}*/ 0 /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ #ffffff /*{e-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5BC0DE /*{e-bup-background-start}*/), to( #2F96B4 /*{e-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5BC0DE /*{e-bup-background-start}*/, #2F96B4 /*{e-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5BC0DE /*{e-bup-background-start}*/, #2F96B4 /*{e-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5BC0DE /*{e-bup-background-start}*/, #2F96B4 /*{e-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5BC0DE /*{e-bup-background-start}*/, #2F96B4 /*{e-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5BC0DE /*{e-bup-background-start}*/, #2F96B4 /*{e-bup-background-end}*/);
}
.ui-btn-up-e:visited,
.ui-btn-up-e a.ui-link-inherit {
	color: #ffffff /*{e-bup-color}*/;
}
.ui-btn-hover-e {
	border: 1px solid #009bb7 /*{e-bhover-border}*/;
	background: #49AFCD /*{e-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{e-bhover-color}*/;
	text-shadow: undefined /*{e-bhover-shadow-x}*/ undefined /*{e-bhover-shadow-y}*/ undefined /*{e-bhover-shadow-radius}*/ undefined /*{e-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #49AFCD /*{e-bhover-background-start}*/), to( #49AFCD /*{e-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #49AFCD /*{e-bhover-background-start}*/, #49AFCD /*{e-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #49AFCD /*{e-bhover-background-start}*/, #49AFCD /*{e-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #49AFCD /*{e-bhover-background-start}*/, #49AFCD /*{e-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #49AFCD /*{e-bhover-background-start}*/, #49AFCD /*{e-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #49AFCD /*{e-bhover-background-start}*/, #49AFCD /*{e-bhover-background-end}*/);
}
.ui-btn-hover-e:visited,
.ui-btn-hover-e:hover,
.ui-btn-hover-e a.ui-link-inherit {
	color: #ffffff /*{e-bhover-color}*/;
}
.ui-btn-down-e {
	border: 1px solid #009bb7 /*{e-bdown-border}*/;
	background: #2e90ad /*{e-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{e-bdown-color}*/;
	text-shadow: undefined /*{e-bdown-shadow-x}*/ undefined /*{e-bdown-shadow-y}*/ undefined /*{e-bdown-shadow-radius}*/ undefined /*{e-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #2E90AD /*{e-bdown-background-start}*/), to( #2E90AD /*{e-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2E90AD /*{e-bdown-background-start}*/, #2E90AD /*{e-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2E90AD /*{e-bdown-background-start}*/, #2E90AD /*{e-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2E90AD /*{e-bdown-background-start}*/, #2E90AD /*{e-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2E90AD /*{e-bdown-background-start}*/, #2E90AD /*{e-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2E90AD /*{e-bdown-background-start}*/, #2E90AD /*{e-bdown-background-end}*/);
}
.ui-btn-down-e:visited,
.ui-btn-down-e:hover,
.ui-btn-down-e a.ui-link-inherit {
	color: #ffffff /*{e-bdown-color}*/;
}
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid #2A2A2A /*{f-bar-border}*/;
	background: #F89406 /*{f-bar-background-color}*/;
	color: #ffffff /*{f-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{f-bar-shadow-x}*/ 0 /*{f-bar-shadow-y}*/ 0 /*{f-bar-shadow-radius}*/ #000000 /*{f-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FBB450 /*{f-bar-background-start}*/), to( #F89406 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FBB450 /*{f-bar-background-start}*/, #F89406 /*{f-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FBB450 /*{f-bar-background-start}*/, #F89406 /*{f-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FBB450 /*{f-bar-background-start}*/, #F89406 /*{f-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FBB450 /*{f-bar-background-start}*/, #F89406 /*{f-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FBB450 /*{f-bar-background-start}*/, #F89406 /*{f-bar-background-end}*/);
}
.ui-bar-f .ui-link-inherit {
	color: #ffffff /*{f-bar-color}*/;
}

.ui-bar-f a.ui-link {
	color: #7cc4e7 /*{f-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-f a.ui-link:visited {
    color: #2489CE /*{f-bar-link-visited}*/;
}

.ui-bar-f a.ui-link:hover {
	color: #2489CE /*{f-bar-link-hover}*/;
}

.ui-bar-f a.ui-link:active {
	color: #2489CE /*{f-bar-link-active}*/;
}

.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-f,
.ui-overlay-f {
	border: 1px solid #cccccc /*{f-body-border}*/;
	color: #333333 /*{f-body-color}*/;
	text-shadow: 0 /*{f-body-shadow-x}*/ 0 /*{f-body-shadow-y}*/ 0 /*{f-body-shadow-radius}*/ #000000 /*{f-body-shadow-color}*/;
	background: #ffffff /*{f-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{f-body-background-start}*/), to( #FFFFFF /*{f-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{f-body-background-start}*/, #FFFFFF /*{f-body-background-end}*/);
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-body-f .ui-link-inherit {
	color: #333333 /*{f-body-color}*/;
}

.ui-body-f .ui-link {
	color: #2489CE /*{f-body-link-color}*/;
	font-weight: bold;
}

.ui-body-f .ui-link:visited {
    color: #2489CE /*{f-body-link-visited}*/;
}

.ui-body-f .ui-link:hover {
	color: #2489CE /*{f-body-link-hover}*/;
}

.ui-body-f .ui-link:active {
	color: #2489CE /*{f-body-link-active}*/;
}

.ui-btn-up-f {
	border: 1px solid #cccccc /*{f-bup-border}*/;
	background: #F89406 /*{f-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bup-color}*/;
	text-shadow: undefined /*{f-bup-shadow-x}*/ undefined /*{f-bup-shadow-y}*/ undefined /*{f-bup-shadow-radius}*/ undefined /*{f-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FBB450 /*{f-bup-background-start}*/), to( #F89406 /*{f-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FBB450 /*{f-bup-background-start}*/, #F89406 /*{f-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FBB450 /*{f-bup-background-start}*/, #F89406 /*{f-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FBB450 /*{f-bup-background-start}*/, #F89406 /*{f-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FBB450 /*{f-bup-background-start}*/, #F89406 /*{f-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FBB450 /*{f-bup-background-start}*/, #F89406 /*{f-bup-background-end}*/);
}
.ui-btn-up-f:visited,
.ui-btn-up-f a.ui-link-inherit {
	color: #ffffff /*{f-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid #f28f00 /*{f-bhover-border}*/;
	background: #FAA732 /*{f-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bhover-color}*/;
	text-shadow: undefined /*{f-bhover-shadow-x}*/ undefined /*{f-bhover-shadow-y}*/ undefined /*{f-bhover-shadow-radius}*/ undefined /*{f-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FAA732 /*{f-bhover-background-start}*/), to( #FAA732 /*{f-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FAA732 /*{f-bhover-background-start}*/, #FAA732 /*{f-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FAA732 /*{f-bhover-background-start}*/, #FAA732 /*{f-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FAA732 /*{f-bhover-background-start}*/, #FAA732 /*{f-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FAA732 /*{f-bhover-background-start}*/, #FAA732 /*{f-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FAA732 /*{f-bhover-background-start}*/, #FAA732 /*{f-bhover-background-end}*/);
}
.ui-btn-hover-f:visited,
.ui-btn-hover-f:hover,
.ui-btn-hover-f a.ui-link-inherit {
	color: #ffffff /*{f-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid #f28f00 /*{f-bdown-border}*/;
	background: #f99406 /*{f-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bdown-color}*/;
	text-shadow: undefined /*{f-bdown-shadow-x}*/ undefined /*{f-bdown-shadow-y}*/ undefined /*{f-bdown-shadow-radius}*/ undefined /*{f-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F99406 /*{f-bdown-background-start}*/), to( #F99406 /*{f-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F99406 /*{f-bdown-background-start}*/, #F99406 /*{f-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F99406 /*{f-bdown-background-start}*/, #F99406 /*{f-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F99406 /*{f-bdown-background-start}*/, #F99406 /*{f-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F99406 /*{f-bdown-background-start}*/, #F99406 /*{f-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F99406 /*{f-bdown-background-start}*/, #F99406 /*{f-bdown-background-end}*/);
}
.ui-btn-down-f:visited,
.ui-btn-down-f:hover,
.ui-btn-down-f a.ui-link-inherit {
	color: #ffffff /*{f-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #155678 /*{global-active-border}*/;
	background: #8f8f8f /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: undefined /*{global-active-shadow-x}*/ undefined /*{global-active-shadow-y}*/ undefined /*{global-active-shadow-radius}*/ undefined /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #8F8F8F /*{global-active-background-start}*/), to( #8F8F8F /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #8F8F8F /*{global-active-background-start}*/, #8F8F8F /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #8F8F8F /*{global-active-background-start}*/, #8F8F8F /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #8F8F8F /*{global-active-background-start}*/, #8F8F8F /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #8F8F8F /*{global-active-background-start}*/, #8F8F8F /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #8F8F8F /*{global-active-background-start}*/, #8F8F8F /*{global-active-background-end}*/);
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: .25em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .25em /*{global-radii-blocks}*/;
	border-top-left-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: .25em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .25em /*{global-radii-blocks}*/;
	border-top-right-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: .25em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .25em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: .25em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .25em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: .25em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .25em /*{global-radii-blocks}*/;
	border-top-left-radius: .25em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: .25em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .25em /*{global-radii-blocks}*/;
	border-top-right-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: .25em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .25em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .25em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .25em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .25em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .25em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: .25em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .25em /*{global-radii-blocks}*/;
	border-top-right-radius: .25em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .25em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .25em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: .25em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .25em /*{global-radii-blocks}*/;
	border-top-left-radius: .25em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: .25em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .25em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: .25em /*{global-radii-blocks}*/;
	-webkit-border-radius: .25em /*{global-radii-blocks}*/;
	border-radius: .25em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #666666 /*{global-icon-color}*/;
	background: rgba(0,0,0,.4) /*{global-icon-disc}*/;
	background-image: url(./themes/images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(./themes/images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(./themes/images/icons-36-white.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(./themes/images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #8f8f8f /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: .25em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .25em /*{global-radii-buttons}*/;
	border-top-left-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: .25em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .25em /*{global-radii-buttons}*/;
	border-top-right-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: .25em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .25em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: .25em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .25em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: .25em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .25em /*{global-radii-buttons}*/;
	border-top-left-radius: .25em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: .25em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .25em /*{global-radii-buttons}*/;
	border-top-right-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: .25em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .25em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .25em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: .25em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .25em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: .25em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .25em /*{global-radii-buttons}*/;
	border-top-right-radius: .25em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: .25em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .25em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: .25em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .25em /*{global-radii-buttons}*/;
	border-top-left-radius: .25em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: .25em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .25em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .25em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: .25em /*{global-radii-buttons}*/;
	-webkit-border-radius: .25em /*{global-radii-buttons}*/;
	border-radius: .25em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	filter: Alpha(Opacity=50);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 0 /*{global-box-shadow-size}*/ rgba(0,0,0,0) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 0 /*{global-box-shadow-size}*/ rgba(0,0,0,0) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 0 /*{global-box-shadow-size}*/ rgba(0,0,0,0) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 3px #8f8f8f /*{global-active-background-color}*/, 0px 0px 9px #8f8f8f /*{global-active-background-color}*/;
	-webkit-box-shadow: inset 0px 0px 3px #8f8f8f /*{global-active-background-color}*/, 0px 0px 9px #8f8f8f /*{global-active-background-color}*/;
	box-shadow: inset 0px 0px 3px #8f8f8f /*{global-active-background-color}*/, 0px 0px 9px #8f8f8f /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0px 0px 12px #8f8f8f /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #8f8f8f /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #8f8f8f /*{global-active-background-color}*/;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    display:none;
    position: fixed;
    z-index:10000;
}

.ui-loading .ui-loader-background {
    display:block;
}​

 .mainheader {
     border:0px;
     border-bottom:1px solid #bfc0c0;
     color:#eee;
     height:40px;
     text-shadow: 0 -1px 1px #000;
     background:url('') #151515; background-size: 5px 5px;
 }



/*!  button css for "noty"
* Bootstrap Buttons v2.0.2
*
* Copyright 2012 Twitter, Inc
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
* Designed and built with all the love in the world @twitter by @mdo and @fat.
*/

.btn {
    display: inline-block;
    *display: inline;

    /* IE7 inline-block hack */

    *zoom: 1;
    width: 100px;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #e6e6e6;
}
.btn:active,
.btn.active {
    background-color: #cccccc \9;
}
.btn:first-child {
    *margin-left: 0;
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.active,
.btn:active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    outline: 0;
}
.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    background-color: #e6e6e6;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-large [class^="icon-"] {
    margin-top: 1px;
}
.btn-small {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
}
.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #0074cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #0055cc;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #004099 \9;
}
.btn-warning {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -ms-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background-color: #f89406;
}
.btn-warning:active,
.btn-warning.active {
    background-color: #c67605 \9;
}
.btn-danger {
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    background-color: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
    background-color: #942a25 \9;
}
.btn-success {
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -ms-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #51a351;
}
.btn-success:active,
.btn-success.active {
    background-color: #408140 \9;
}
.btn-info {
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-color: #2f96b4;
}
.btn-info:active,
.btn-info.active {
    background-color: #24748c \9;
}
.btn-inverse {
    background-color: #414141;
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: -ms-linear-gradient(top, #555555, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background-color: #222222;
}
.btn-inverse:active,
.btn-inverse.active {
    background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
    *padding-top: 2px;
    *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}